<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{{ page_intro['keywords'] }}">
    <meta name="description" content="{{ page_intro['description'] }}">
    <title>{{ page_intro['title'] }}</title>
</head>
<body>

<div id="header">
</div>

<div id="body">
    <div name="navigation">
        <!-- 章节 -->

    </div>

    <div name="content">
        <!-- 内容 -->
    </div>
</div>

<div id="footer">
</div>

</body>
</html>